{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    <!-- 引入layer.js -->
    <script src="{% static 'layer/layer.js' %}"></script>
    <!-- 引入perldoc.css -->
    {#    <link rel="stylesheet" href="{% static 'md_css/perldoc.css' %}">#}
    {% block header_extends %}{% endblock %}
</head>
<body>
<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">
                lzl's blog
            </a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar-collapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{% block  nav_home_active %}{% endblock %}"><a href="/">首页</a></li>
                <li class="{% block  nav_blog_active %}{% endblock %}"><a href="{% url 'blog_list' %}">博客</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

{#                <li><a href="#">Link</a></li>#}
                {% if user.is_authenticated %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      {{ user.username }}
                      <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href='{% url "userprofile:logout" %}'>退出登录</a></li>
                    <li><a href="{% url 'article_create' %}">创建新文章</a></li>
                  </ul>
                </li>
                {% else %}
                    <li>
                        <a href="{% url "userprofile:login" %}">登录</a>
                    </li>
                    <li>
                        <a href="{% url "userprofile:register" %}">注册</a>
                    </li>
                {% endif %}
              </ul>
{#            <ul class="navbar navbar-nav navbar-right">#}
{#                {% if user.is_authenticated %}#}
{#                    <!-- 如果用户已经登录，则显示用户名下拉框 -->#}
{#                    <li class="dropdown">#}
{#                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"#}
{#                           aria-expanded="false">#}
{#                            {{ user.username }}#}
{#                            <span class="caret"></span>#}
{#                        </a>#}
{#                        <div class="dropdown-menu">#}
{#                            <a class="dropdown-item" href='{% url "userprofile:logout" %}'>退出登录</a>#}
{#                        </div>#}
{#                    </li>#}
{#                    <!-- 如果用户未登录，则显示 “登录” -->#}
{#                {% else %}#}
{#                    <li class="nav-item">#}
{#                        <a href="{% url 'userprofile:login' %}">登录</a>#}
{#                        <a href="#">注册</a>#}
{#                    </li>#}
{#                    <!-- if 语句在这里结束 -->#}
{#                {% endif %}#}
{#            </ul>#}
        </div>

    </div>
</div>

    {% block content %} {% endblock %}
</body>
</html>