{% extends "base.html" %} {% load staticfiles %}
<!-- 写入 base.html 中定义的 title -->
{% block title %} 写文章 {% endblock title %}
<!-- 写入 base.html 中定义的 content -->
{% block content %}
<!-- 写文章表单 -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <!-- 提交文章的表单 -->
            {% if user.is_authenticated %}
            <form method="post" action=".">
                <!-- Django中需要POST数据的地方都必须有csrf_token -->
                {% csrf_token %}
                <!-- 文章标题 -->
                <div class="form-group">
                    <!-- 标签 -->
                    <label for="title">文章标题</label>
                    <!-- 文本框 -->
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="form-group">
                    <!-- 标签 -->
                    <label for="title">文章标签</label>
                    <!-- 文本框 -->
                    <select id = "blog_type" name="blog_type">
                        {% for blog_type in blog_types %}
                            <option value="{{ blog_type.pk }}" selected>{{ blog_type.type_name }}</option>
                        {%  endfor %}
                    </select>
{#                    <input type="text" class="form-control" id="BlogType" name="BlogType">#}
                </div>
                <div class="form-group">
                    <label for="body">文章正文</label>
                    <!-- 文本区域 -->
                    <textarea type="text" class="form-control" id="content" name="content" rows="12"></textarea>
                </div>
                <!-- 提交按钮 -->
                <button type="submit" class="btn btn-primary">完成</button>
            </form>
            {% else %}
                未登录，不能创建文章
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}